:root {
  --shadow-color: #a3a3a3;
  --accent-color: #93c5fd;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

.all-data {
  display: grid;
  grid-template-rows: 3fr 1fr;
  gap: 20px;
}

.weather-display {
  display: grid;
  width: 920px;
  grid-template-columns: 2fr 1fr;
  margin: auto;
  gap: 20px;
}

.weather-display-container {
  height: 700px;
  width: 700px;
  background-color: var(--accent-color);
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px var(--shadow-color);
  display: none;
  gap: 20px;
  padding: 20px;
  grid-template-columns: repeat(1fr, 3);
  grid-template-rows: repeat(1fr, 5);
}

.weather-display-container > * {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px var(--shadow-color);
  margin-top: 0;
  position: relative;
}

.location-header,
.conditions-header,
.temp-header,
.feels-like-header,
.description-header,
.precipitation-header,
.sunrise-header,
.sunset-header,
.humidity-header {
  position: absolute;
  top: 0;
  margin-top: 5px;
  padding: 5px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.convert-temp-button {
  display: none;
}

.location {
  grid-column: 1/4;
  grid-row: 1/2;
}

.location-data,
.conditions-data,
.temperature-data,
.feels-like-data,
.precipitation-data,
.humidity-data,
.sunrise-data,
.sunset-data {
  font-size: 22px;
  margin-top: 20px;
}

.conditions {
  grid-column: 1/3;
  grid-row: 2/4;
}

.weather-icon {
  height: 100px;
  width: 100px;
}

.conditions-data {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

.temperature {
  grid-column: 3/4;
  grid-row: 2/3;
}

.feels-like {
  grid-column: 3/4;
  grid-row: 3/4;
}

.description {
  grid-column: 1/3;
  grid-row: 4/5;
}

.precipitation {
  grid-column: 3/4;
  grid-row: 4/5;
}

.sunrise {
  grid-column: 1/2;
  grid-row: 5/6;
}
.sunset {
  grid-column: 2/3;
  grid-row: 5/6;
}
.humidity {
  grid-column: 3/4;
  grid-row: 5/6;
}

.hourly-display {
  background-color: var(--accent-color);
  display: none;
  height: 700px;
  width: 200px;
  padding: 20px;
  grid-template-rows: repeat(auto-fit, minmax(80px, 1fr));
  gap: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px var(--shadow-color);
}

.hour {
  position: relative;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px var(--shadow-color);
}

.hour-time {
  position: absolute;
  top: 0;
  padding-top: 5px;
  font-weight: bold;
}

.hour-information {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.hour-icon {
  padding: 10px;
}

.hour-temp {
  padding: 10px;
}

.forecast-display {
  height: 200px;
  width: 920px;
  margin: auto;
  display: none;
  gap: 20px;
  padding: 20px;
  background-color: var(--accent-color);
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
  grid-row: 2/3;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px var(--shadow-color);
}

.day {
  position: relative;
  background-color: white;
  column-span: 1;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px var(--shadow-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.day-date {
  position: absolute;
  top: 0;
  margin-bottom: 10px;
  font-weight: bold;
}

.day-conditions {
  text-align: center;
  padding: 5px;
  font-size: 14px;
}

.day-temp {
  position: absolute;
  font-size: 18px;
  bottom: 0;
  padding-bottom: 10px;
}
